<%= form_for(@burden) do |f| %>
  <% if @burden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@burden.errors.count, "error") %> prohibited this burden from being saved:</h2>

      <ul>
      <% @burden.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dish_id %><br>
    <%= f.select :dish_id, Dish.all.map { |e| [e.name, e.id]} %>
  </div>
  <div class="field">
    <%= f.label :material_id %><br>
    <%= f.select :material_id, Material.all.map { |e| [e.name, e.id]} %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
