<h1><%= "#{t('burden')}#{t('listing')}" %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('dish') %></th>      
      <th><%= t('material') %></th>
      <th><%= t('quantity') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @burdens.each do |burden| %>
      <tr>
        <!-- % puts "***********", burden.inspect %-->
        <%  %>
        <td><%= link_to burden.dish.name, dish_path(burden.dish) if burden.dish %></td>
        <td><%= link_to burden.material.name, material_path(burden.material) if burden.material %></td>
        <td><%= burden.quantity %> g</td>
        <td><%= link_to t('show'), burden %></td>
        <td><%= link_to t('edit'), edit_burden_path(burden) %></td>
        <td><%= link_to t('destroy'), burden, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('new')}#{t('burden')}", new_burden_path %>
