<p id="notice"><%= notice %></p>

<p>
  <strong>Dish:</strong>
  <%= @burden.dish.name %>
</p>

<p>
  <strong>Material:</strong>
  <%= @burden.material.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @burden.quantity %> g
</p>

<%= link_to 'Edit', edit_burden_path(@burden) %> |
<%= link_to 'Back', burdens_path %>
