<p id="notice"><%= notice %></p>

<p>
  <strong>t('dish'):</strong>
  <%= @burden.dish.name %>
</p>

<p>
  <strong>Material:</strong>
  <%= @burden.material.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @burden.quantity %> g
</p>

<%= link_to t('edit'), edit_burden_path(@burden) %> |
<%= link_to t('back'), burdens_path %>
