<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= link_to "#{@order.meal.date} - " + t("label." + @order.meal.meal_type), meal_path(@order.meal) %>
</p>

<p>
  <strong>Dish:</strong>
  <%= link_to @order.dish.name, dish_path(@order.dish) %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
