<p id="notice"><%= notice %></p>

<p>
  <strong><%= "#{t('name')}:" %></strong>
  <%= @book.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= auto_link @book.url, :html => { :target => '_blank' }  %>
</p>

<%= link_to t('edit'), edit_book_path(@book) %> |
<%= link_to t('back'), books_path %>
