<%= form_for(@dish) do |f| %>
  <% if @dish.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dish.errors.count, "error") %> prohibited this dish from being saved:</h2>

      <ul>
        <% @dish.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('name') %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :book_id %><br>
    <%= f.select :book_id, Book.all.map { |e| [e.name, e.id]} %>
  </div>
  <div class="field">
    <%= f.label :page %><br>
    <%= f.text_field :page %>
  </div>

  <div class="field">
    <%= f.fields_for :burdens do |builder| %>
    <p>
      <%= builder.label :material_id, t('material')  %>
      <%= builder.select :material_id, Material.all.map { |e| [e.name, e.id] } %>
      <%= builder.text_field :quantity %> g
      <%= f.hidden_field :destroy %>
      <%= link_to t('destroy'), '#', :onclick => "remove_fields(this)" %>
      <%= link_to t('destroy'), "#", :onclick => "$(this).parent().hide()" %>
    </p>    
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
