<p id="notice"><%= notice %></p>

<p>
  <strong><%= "#{t('name')}:" %></strong>
  <%= @material.name %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @material.balance %>
</p>

<%= link_to t('edit'), edit_material_path(@material) %> |
<%= link_to t('back'), materials_path %>
