<%= form_for @shopping, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @shopping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping.errors.count, "error") %> prohibited this shopping from being saved:</h2>

      <ul>
      <% @shopping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label t('label.date'), :class => 'control-label' %>
    <div class="controls">
      <%= f.date_field :date, :class => 'date_field' %>
    </div>

  <% meal_index = 0 %>
  <%= f.fields_for :shopping_meals do |builder| %>
    <% meal = @meals[meal_index] %>
    <%= builder.check_box :selected %>
    <%= "#{meal.date} - " + t(meal.meal_type) %> 
    <%= builder.hidden_field(:meal_id, :value => meal.id) %><br/>
    <% meal_index += 1 %>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shoppings_path, :class => 'btn' %>
  </div>
<% end %>
