<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('label.date') %>:</strong>
  <%= @shopping.date %>
</p>

<p>
  <strong><%= t('meal') %>:</strong><br/>
  <% @shopping.shopping_meals.each do |sm| %>
    <% next if not sm.selected %>
    <%= link_to sm.meal.date + " - " + t(sm.meal.meal_type), sm.meal %>: <span/>
    <% sm.meal.dishes.each do |dish| %>
      <%= link_to dish.name, dish  %><span/>
    <% end %>
    <br/>
  <% end %>
</p>

<p>
  <strong><%= t('material') %>:</strong>
</p>

<table>
  <thead>
    <tr>
      <th><%= t('category') %></th>
      <th><%= t('material') %></th>
      <th><%= t('quantity') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.keys.sort_by { |material| material.category ? material.category : '' + HanziToPinyin.hanzi_2_py(material.name) }.each do |material| %>
      <tr>
        <%  %>
        <td><%= t(material.category) if material.category %></td>
        <td><%= material.name %></td>
        <td><%= @materials[material]/1000 %> kg</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<%= link_to 'Edit', edit_shopping_path(@shopping) %> |
<%= link_to 'Back', shoppings_path %>
