<%- model_class = Shopping -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('shopping') %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= t('label.date') %>:</strong></dt>
  <dd><%= @shopping.date %></dd>
</dl>

<p>
  <strong><%= t('meal') %>:</strong><br/>
  <% @shopping.shopping_meals.each do |sm| %>
    <% next if not sm.selected %>
    <%= link_to sm.meal.date + " - " + t(sm.meal.meal_type), sm.meal %>: <span/>
    <% sm.meal.dishes.each do |dish| %>
      <%= link_to dish.name, dish  %><span/>
    <% end %>
    <br/>
  <% end %>
</p>

<p>
  <strong><%= t('material') %>:</strong>
</p>

<table>
  <thead>
    <tr>
      <th><%= t('category') %></th>
      <th><%= t('material') %></th>
      <th><%= t('quantity') %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @materials.keys.sort_by { |material| material.category ? material.category : '' + HanziToPinyin.hanzi_2_py(material.name) }.each do |material| %>
      <tr>
        <%  %>
        <td><%= t(material.category) if material.category %></td>
        <td><%= material.name %></td>
        <td><%= @materials[material]/1000 %> kg</td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              shoppings_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_shopping_path(@shopping), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              shopping_path(@shopping),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
