<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag :defaults, :cache => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<tr>
  <td><%= link_to t('book'), '/books' %></td>
  <td><%= link_to t('dish'), '/dishes' %></td>
  <td><%= link_to t('burden'), '/burdens' %></td>
  <td><%= link_to t('material'), '/materials' %></td>
  <td><%= link_to t('meal'), '/meals' %></td>
  <td><%= link_to t('order'), '/orders' %></td>
  <% if session[:user_id] %>
    <td><%= link_to t('profile'), user_path(session[:user_id]) %></td>
    <td><%= link_to t('logout'), logout_path, method: :delete %></td>
  <% else  %>
    <td><%= link_to t('login'), login_path %></td> ( or 
    <td><%= link_to t('register'), register_path %></td> ? )
  <% end %>
  
</tr>  

<%= yield %>

</body>
</html>
